/* .reveal-answer {
  display: none;

} */

#reveal-answer:hover {
  /* visibility: visible; */
  transform: scale(8);
}
#reveal-answer {
  /* visibility: hidden; */
  font-size: 2px;
  color: limegreen;
  text-align: center;
  margin: 40px;
}

/* .answer {
  text-align: center;
  color: lightgreen;
  font-size: 20px;
  cursor: pointer;
  
} */

.hover-to-reveal {
  margin-top: 2rem;
  font-size: 10px;
  text-align: center;
  color: gray;
}
