/* .reveal-answer {
  display: none;

} */

#reveal-answer:hover {
  visibility: visible;
  transform: scale(3);
}
#reveal-answer {
  /* visibility: hidden; */
  font-size: 1px;
}

.answer {
  text-align: center;
  color: lightgreen;
  font-size: 20px;
  cursor: pointer;
  /* display: none; */
}

.hover-to-reveal {
  margin-top: 2rem;
  font-size: 10px;
  text-align: center;
  color: gray;
}
